<!doctype html>
<html lang="en" ng-app="graphCtrlApp">
	<head>
		<meta charset="utf-8">
		<title>My cool HTML File</title>
		<script src="./node_modules/angular/angular.min.js"></script>
		<script src="./js/LineChart.min.js"></script>
		<script src="./node_modules/d3/d3.js"></script>
		<script src="./node_modules/jquery/dist/jquery.js"></script>
		<link rel="stylesheet" href="./styles/main.css">
		<link rel="stylesheet" href="./styles/LineChart.min.css">
	</head>
	<div ng-controller="GraphCtrl">
		<div>
			Load network: <input ng-model="filename_input">
			<button class="btn-load" ng-click="openFile(filename_input)">
				Load
			</button>
		</div>
		<div>
			Filename is: {{filename}}
		</div>
		<div class="my-chart">
			<linechart data="data" options="options" ></linechart>
		</div>
		<br/><br/>
		<input type="text" readonly ng-model="scrollBarX">
		<input type="text" readonly ng-model="selectedTime">
	</div>
</html>
