﻿body ul.cm_default, body ul.cm_default ul
{
	/* Required settings */
	top:-1000px; left:-1000px; position:absolute; z-index:999; 
	/* Possibly inherited values overrides */
	border-width:0;  float:none; height:auto; margin:0; padding:0; width:auto;	
	/* Additional settings */
}
body ul.cm_default li
{
	/* Required settings */
	width:162px; list-style:none none outside;
	/* Possibly inherited values overrides */
	float:none; height:auto; letter-spacing:normal; margin:0; border-width:0; line-height:normal; margin:0; 
	text-align:left; text-decoration:none; text-indent:0; text-transform:none; vertical-align:top; word-spacing:normal;
	font-family:Arial, Sans-Serif; font-size:13px; font-style:normal; font-variant:normal; font-weight:normal;
	/* Additional settings */
	overflow:hidden; cursor:default; padding:5px 5px 5px 31px; 
	
	background-color: white;
	/*background:#e6e6e6 url(images/background.gif) repeat-y 0 0*/
}
body ul.cm_default li {
		width: 162px;
		height: 30px;
		line-height: 30px;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: -1px;
		font-size: 15px;
		background-color: #2a2a2a;
		color: white;
}
body ul.cm_default li.separator{width:162px; height:12px; background:#3a3a3a;}
/* IE 6/7 hack */
body ul.cm_default li.separator{*margin:-1px 0 -5px 0}
body ul.cm_default li.disabled{color:#999}
body ul.cm_default li span.submenu{display:block; width:4px; height:11px; float:right; background:url(images/submenu.gif) no-repeat 0 4px}
body ul.cm_default li.disabled span.submenu{background-image:url(images/submenu_dis.gif)}
body ul.cm_default li.hover{background-color:#3a3a3a; color: white;}
/* no hover effects on separators*/
body ul.cm_default li.hover.separator{background-color:#e6e6e6; background-image:url(images/separator.gif)}
/*icons*/
body ul.cm_default li.icon{width:188px; padding:5px}
body ul.cm_default span.icon{display:block; float:left; width:26px; height:16px; background-repeat:no-repeat}
body ul.cm_default span.icon.hover{background-position:0 -16px}