body {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	height: 100%;
}

#toolbar {
	color: white;
	width: 100%;
	height: 42px;
	/*background-color: #3a3a3a;*/
	background-color: #3d3d3d;
	box-sizing: border-box;
	border-bottom: 3px solid #383838;
	border-top: 1px solid #7c7c7c;
	overflow: visible;
}

#toolbar img {
	height: 40px;
	width: 40px;
	border: none;
	box-sizing: border-box;
}

#toolbar img:hover {
	border: 4px solid white;
	border-radius: 4px;
}

#arrow {
	width: 1px;
	height: 3px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	transform-origin: 0% 0%;
}

#upperBar {
	width: 100%;
	height: 60px;
	background-color: white;
	color: #1f1f1f;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #d2d2d2;
}

#mainMenu > li {
	list-style: none;
	float: left;
	padding: 10px;
}

#mainMenu > li:hover {
	background-color: #dddddd;
}

#mainMenu {
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
	margin-top: -5px;
}

#mainMenu > li > ul {
	margin-top: 5px;
	position: absolute;
	background-color: white;
	border: 1px solid black;
	z-index: 999;
	display: none;
}

#mainMenu > li > ul > li  {
	border-bottom: 1px solid black;
	font-size: 13px;
}

#mainMenu > li > ul > li:hover {
	background-color: #f2f2f2;
}

#mainMenu > li > ul > li > a {
	height: 100%;
	width: 100%;
	display: inline-block;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

ul {
	margin-top: 0;
	margin-left: 0;
	padding: 0;
	list-style: none;
}

ul img {
	width: 15px;
	padding-right: 15px;
}

#topBar {
	width:25%;
	margin-top: 9px;
}

#wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#webANIMOEditor {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}

#dragger {
	width: 10px;
	height: 100%;
	background-color: #3d3d3d;
	float: left;
	z-index: 20;
}

/* handle on the right */
.ui-resizable-e {
    width: 20px;
}

#changelogPane {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y:  auto;
	position: relative;
	background-color:#F0F0F0;
	display:none;
	text-align:center;
}

#resultPane {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y:  auto;
	position: relative;
	background-color: #f8f8f8;
}

.newButton {
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0;
	margin-right: -6px;
}	

.paneHeader{
	text-align: center;
    height:auto;
    width:100%;
    top:0px;
    left:0px;
    /*background: #CCCCCC;*/
    position:absolute;
}
.paneFooter {
    height:auto;
    width:100%;
    bottom:0px;
    left:0px;
    /*background: #CCCCCC;*/
    position:absolute;
	text-align:center;
	overflow-y:scroll;
}
.paneContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

#footer {
	width: 100%;
	height: 25px;
	background-color: #2d2626;
	line-height: 25px;
	color: white;
	font-size: 11px;
	padding-left: 10px;
	box-sizing: border-box;
}

.fullHeight {
	height: calc(100% - 126px);
	overflow: hidden;
}

#logo {
	width: 200px;
}

.popupBG {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.7;
	display: none;
	z-index: 999;
}

.stripHeader {
	height: calc(100% - 84px);
	margin-top: 59px;
}

.popupContent {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}		

.pagePopup {
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 400px;
	height: auto;
	background-color: white;
	padding: 25px;
	border: 2px solid #494949;
	color: #464646;
	display: none;
	z-index: 999;
}

.pagePopup > h1 {
	font-size: 25px;
}	

#editNode {
	display: none;
}	

#editEdge {
	display: none;
}

.fancyInput {
	width: 80%;
	height: 30px;
	padding: 5px;
	font-family: 'Montserrat';
	font-size: 14px;
	color: black;
}

.fancyInput > option {
	padding: 5px;
}

.fancyArea {
	width: 90%;
	height: 125px;
	font-family: 'Montserrat';
	font-size: 12px;
}

.fancyButton {
	width: 100px;
	height: 30px;
	font-family: 'Montserrat';
}

.seperator {
	clear: none;
	display: inline-block;
	background-color: gray;
	width: 2px;
	height: 100%;
}

#alpaca {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

#alpaca img {
	height: 100%;
	position: absolute;
	z-index: 0;
}

#alpaca input {
	position: absolute;
	z-index: 1;
}

#cy {
	width: calc(100% - 10px);
	height: 100%;
	background-color: #f8f8f8;
	float: left;
}

.popEdit {
	position: relative;
	height: 100%;
	width: 300px;
	background-color: #f0f0f0;
	padding: 25px;
	border-right: 2px solid #494949;
	box-sizing: border-box;
	font-size: 13px;
	color: #464646;
}

.inputBox {
	margin-top: 15px;
}

.smallMargin {
	margin-bottom: 12px;
}

.bigMargin {
	margin-bottom: 25px;
}

#legend {
	background: #3fa323;
	background: -moz-linear-gradient(top, #3fa323 0%, #e8dc00 50%, #f43434 100%);
	background: -webkit-linear-gradient(top, #3fa323 0%,#e8dc00 50%,#f43434 100%);
	background: linear-gradient(to bottom, #3fa323 0%,#e8dc00 50%,#f43434 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa323', endColorstr='#f43434',GradientType=0 );
	width: 125px;
	height: 250px;
}

#activityWrapper {
	width: 225px;
	height: 250px;
	background-image: url('../images/minmax.png');
}	

.left {
	float: left;
	width: 50%;
}

.paneHeader h1 {
	font-size: 20px;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

#leftBar {
	float: left;
	width: 300px;
	background-color: #f0f0f0;
	box-sizing: border-box;
	padding: 25px;
	color: #2e2e2e;
	font-size: 14px;
	border-right: 2px solid #383838;
	position: relative;
	overflow-y: scroll;
}

#leftBar > .fadeMeOutShizzle {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(61, 61, 61, 0.7);
    z-index: 1;
}

#leftBar > #popContent {
	z-index: 2;
}

h2 {
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
	font-size: 19px;
}

.contentWrapper {
	float: left;
	width: calc(100% - 300px);
}

#saveToCloudStatusContainer {
	float: right;
	/*margin-top: 15px;*/
}

#saveToCloudStatus {
	word-wrap:break-word;
	color:#909090;
}

#saveToCloudStatusContainer > .lockerror {
	color: red;
}

.right {
	float: right;
	width: 50%;
}	

.fullWidth {
	width: 100%;
}

.sliderdisabled {
	opacity: 50%;
}

.sliderDescr > span{
	clear:none;
	display:block;
	width:33%;
	float:left;
}

.sliderDescr > span.left {
	text-align: left;
}

.sliderDescr > span.right {
	text-align: right;
}

.sliderDescr > span.mid {
	text-align: center;
}

.clear {
	clear: both;
}

input[type=range] {
	margin: 0;
}

.lineHeight {
	margin-top: 15px;
}

.largeWidth {
	width: 90%;
}		

.reactionLabel {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 5px;
	display: none;
}	

.smallInput {
	width: 40%;
}	

.error {
	border: 2px solid red;
}

h1 {
	margin: 0;
	padding: 0;
}

#resultChart {
	margin-top: 10px;
	height: 100%;
	overflow: visible;
}

svg.chart {
	overflow:visible;
}

.scroll-line-container {
	cursor: w-resize;
}

.scroll-line {
	cursor: w-resize;
}

.contentCentered {
	text-align: center;
}

.toolbarButton {
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	width: auto;
	height: 40px;
	background-color: #3a3a3a;
	border: 0 none;
	border-right: 2px solid #dcdcdc;
	font-size: 13px;
}

input {
	color: black;
}

.toolbarButton:hover {
	background-color: lightgrey;
}

#toast-container {
	position:absolute;

	text-align: center;
	width:250;
	height:auto;
	left: 140;
	margin-left:-125px;

	overflow:visible;

	font-size: 13px;
	bottom: 40px;
	z-index: 100;
}

.consoleLogMessage {
	width:auto;
	background-color: #DCDCDC;
	opacity: 0.9;
	padding: 10px;
	border: 1px solid black;
	margin-top: 4px;

	display: inline-block;
	clear:both;
	float: left;
	color: black;
}

.log-error {
	background-color: #FF6666;
}

.log-success {
	background-color: #66FF66;
}

.diff-input-changed {
	border: 2px solid #dadada;
	border-color: #10F0F0;
}

.revision-legend {
	text-align:center;
	padding:10px;
	background-color:#DCDCDC;
	margin:10px;
	margin-bottom:0px;
	border-radius:2px;
}

.revision-legend-item {
	color:white;
	border-radius:3px;
	padding:2px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.changelog-revision {
	border-radius:4px;
	margin-bottom: 4px;
	padding:10px;
	background-color:#0093FF;
	color:white;
	width:100%;
}

.changelog-header {
	text-decoration:underline;
}

.changelog-change {
	font-size:0.75em;
}

#changelogList {
	padding:12px;
}


.fileButton {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileButton + label {
	line-height: 40px;
	cursor: pointer; /* "hand" cursor */
}

label.tableLayout {
	width: 95px;
	display: inline-block;
	text-align: left;
}

a:hover { color: black; text-decoration: none;} 
a:link { color: black; text-decoration: none;} 
a:active { color: black; text-decoration: none;} 
a:visited { color: black; text-decoration: none;} 

#popPageContent a:hover { color: blue; text-decoration: underline;} 
#popPageContent a:link { color: blue; text-decoration: underline;} 
#popPageContent a:active { color: blue; text-decoration: underline;} 
#popPageContent a:visited { color: purple; text-decoration: underline;} 

.line-series > .line:hover{
	cursor: pointer; /* "hand" cursor */
}

/*****************************/
/* FASTER CSS OF FASTER BOBE */
/*****************************/

.zoomInPlot {
    float: right;
}

.zoomOutPlot {
    float: right;
}

.toggleRevisionList  {
    float: right;
}

.toggleRevisionListChecked {
	background-color: #A0A0A0;
}

ul.imports {
	margin-top: 1em;
}

li.header {
	font-style: italic;
	margin-top: 0.5em;
}

#aboutImages {
	width:100%;
	text-align:center;
}
